body {
  background-color: #000;
  color: #fff;
  font-family: 'Space Mono', monospace;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 120px;
  max-width: 900px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 70px;
  font-family: 'Space Mono', monospace;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  font-family: 'Space Mono', monospace;
  
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFD700;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
  color: #000;
}

.button:hover {
  background-color: #FFFF;
  color: black;
}


blockquote {
  margin-left: -20px;
  padding-left: 20px;
  border-left: 1px solid #FFF;
}

code {
    
    color: #d4b306;
}
a {
    color: #FFD700;
}

a:hover {
    color: #d4b306;
    transition: all 0.1s ease;
}

svg { 
    stroke: #FFD700;
    stroke-width: 1;
    fill: #FFD700;
    margin: 0 auto;
}

header nav svg {
    width: 14px;
}
header nav { margin-top: 20px; }
header nav svg:hover {
    fill: #d4b306;
    transition: all 0.1s ease;
}
header { margin: 70px 50px 30px; text-transform: uppercase; }
.anchor-icon { display: inline-block; width: 20px; height: 12px;
    margin-left:-20px;
    margin-right:20px;
}

img, video { width: 100%; margin: 20px 0px; padding: 0px; }

.thanks {
    text-transform: uppercase;
    text-align: center;
}
